{% load static %}
<footer class="footer-area">
    <!-- Footer Logo -->
    <div class="footer-logo mb-100">
        <a href="{% url 'login-page' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
    </div>
    <!-- Footer Content -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-content text-center">
                    <!-- Footer Nav -->
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- Social Info -->
                    <div class="footer-social-info">
                        <a href="https://github.com/kblandonv" data-toggle="tooltip" data-placement="top" title="github"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="https://wa.me/573192624934" data-toggle="tooltip" data-placement="top" title="whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/kblandonv/" data-toggle="tooltip" data-placement="top" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>

                    <p class="mb-15">News website from Colombia and the world.</p>

                    <!-- Copywrite Text -->
                    <p class="copywrite-text"><a href="#">
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This {{site_name}} was developed by <i class="fa fa-heart-o" aria-hidden="true"></i><a href="mailto:kblandonv@unal.edu.co" target="_blank">kblandonv</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </div>
</footer>
